[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
markdown = "*"
ghp-import = "*"
typogrify = "*"
"beautifulsoup4" = "*"
ipython = "*"
jupyter = "*"
nbconvert = "*"

[dev-packages]

[requires]
python_version = "3.6"
